@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 9 9 11; /* #09090b */
    --surface: 24 24 27; /* #18181b */
    --border: 39 39 42; /* #27272a */
  }

  body {
    @apply bg-background text-zinc-200 font-sans antialiased;
  }
}
